.form_container {
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
}

.form_container input[type='submit'] {
  border-radius: 8px;
  background-color: #70cf36;
  color: #fff;
  border: none;
  min-width: 100px;
  min-height: 2.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

.form_container input[type='file']{

}

.form_container input[type='submit']:hover {
  background-color: #63b430;
}

.form_container p {
  margin-top: 1em;
}

.form_container p a {
  color: #16479d;
  font-weight: bold;
}

/* form de pets */
.preview_pet_images {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;

}

.preview_pet_images img {
  width: 100px;
  height: 100px;
  margin-left: 1em;
  object-fit: cover;

}